:root {
  --primaryBG: rgb(211, 248, 255);
  --primaryFont: "Joan", serif;
}
.backBackground {
  background-color: rgb(0, 48, 73);
}
body {
  font-family: "Joan", serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
}
h1 {
  font-family: var(--primaryFont);
  color: rgb(0, 0, 0);
  text-align: center;
}
.container {
  background-color: var(--primaryBG);
  box-shadow: 1px 2px 5px;
  background: linear-gradient(
    90deg,
    rgba(200, 240, 250, 1) 100%,
    rgba(211, 248, 255, 1) 35%,
    rgba(231, 248, 255, 1) 0%
  );
}
.indexBanner {
  background-color: rgb(236, 251, 255);
  background: linear-gradient(
    90deg,
    rgba(231, 248, 255, 1) 0%,
    rgba(211, 248, 255, 1) 35%,
    rgba(200, 240, 250, 1) 100%
  );
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 8px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  border: 2px solid black;
}
.certificateContainer {
  padding: 5%;
  text-align: center;
}
.certificateSection {
  padding: 20px 20px 20px 20px;
  margin: 0px auto;
}
.certificate {
  margin: 0px auto;
}
.workP {
  margin-left: 5%;
  margin-right: 5%;
}
.workRowL {
  background: linear-gradient(
    90deg,
    rgba(231, 248, 255, 1) 0%,
    rgba(211, 248, 255, 1) 35%,
    rgba(220, 240, 250, 1) 100%
  );
}
.workRowR {
  background: linear-gradient(
    90deg,
    rgba(220, 240, 250, 1) 100%,
    rgba(211, 248, 255, 1) 35%,
    rgba(231, 248, 255, 1) 0%
  );
}
.btn-getStarted {
  background-color: rgb(148, 148, 242);
}
.btn.btn-branding-outline {
  background-color: antiquewhite;
  box-shadow: 1px 1px 1px black;
}
.btn.btn-branding-outline:hover {
  background-color: rgb(102, 213, 219);
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  box-shadow: 3px 4px 6px rgb(255, 245, 234);
}
#contact {
  border-radius: 12px;
  background-color: antiquewhite;
  border: 1px solid black;
}
.paragraphMain {
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.5;
  font-size: 18px;
  box-shadow: 1px 2px 5px;
}
.contentMain {
  background-color: rgb(255, 252, 246);
  padding: 20px 0px 20px 0px;
  border-radius: 12px;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}
.paragraph {
  background-color: white;
  padding: 40px 40px 40px 40px;
  border-radius: 12px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
  font-size: 16px;
  box-shadow: 1px 2px 5px;
}
a {
  padding: 10px 10px 10px 10px;
}
li {
  text-decoration: none;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}
footer {
  margin-top: 5%;
  background-color: rgb(227, 248, 255);
  margin: 10ox 10ox 10px 10px;
  padding: 20px 10px 30px 10px;
}
.containerK {
  background-color: rgb(255, 250, 241);
  padding: 15px 0px 15px 0px;
  font-weight: 500;
  border: 1px solid rgb(42, 42, 42);
  margin-bottom: 2%;
}
.containerKass {
  background-color: rgb(255, 238, 218);
  padding: 20px 0 20px 0;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 1px;
}
.containerKassie {
  background-color: bisque;
  padding: 20px 20px 20px 20px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 1px 1px 1px;
}
.mainHead {
  font-weight: 700;
}

.adviceParagraph {
  margin: 20px 20px 20px 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 50px 50px 50px 50px;
  background-color: rgb(243, 253, 255);
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 2px 5px;
}
.kassieSip {
  box-shadow: 1px 2px 5px;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.googleButton {
  border-radius: 5px;
  background-color: rgb(230, 248, 255);
  font-weight: bold;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
}
.googleButton:hover {
  border-radius: 5px;
  background-color: rgb(245, 250, 217);
  font-weight: bold;
  box-shadow: 3px 3px rgb(253, 255, 220);
  cursor: pointer;
}

.myBanner {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px 20px;
}
.workImg {
  border-radius: 10px;
  background-color: rgb(239, 253, 255);
  margin: 20px 10px 20px 10px;
  padding: 20px 10px 20px 10px;
  border: 1px solid black;
}
.navbar {
  font-weight: 700;
}
.navbar:hover {
  font-weight: bold;
  border: 1px solid black;
}

.kassBorder {
  border: 35px solid bisque;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 5%;
}
.kassBasicBorder {
  border: 5px solid antiquewhite;
}
@media (max-width: 900px) {
  h1 {
    font-size: 18px;
    text-align: center;
  }

  h1 {
    color: black;
  }
  .certificateM {
    max-width: 150px;
  }
  .adviceParagraph {
    margin: 10px 10px 10px 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px 20px 20px;
    background-color: rgb(243, 253, 255);
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    box-shadow: 1px 2px 5px;
  }
  
}
