:root {
  --primaryBG: rgb(211, 248, 255);
}

body {
  font-family: "Joan", serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  background-color: rgb(247, 207, 247);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Joan", serif;
}
h1 {
  font-family: "Joan", serif;
  color: rgb(0, 0, 0);
  text-align: center;
}
.container {
  background-color: var(--primaryBG);
}
.banner {
  background-color: rgb(236, 251, 255);
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 8px;
}
.btn-getStarted {
  background-color: rgb(148, 148, 242);
}
.paragraph {
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
}
footer {
  background-color: rgb(211, 255, 255);
  margin: 10ox 10ox 10px 10px;
}
.adviceParagraph {
  margin: 20px 20px 20px 20px;
  padding: 50px 50px 50px 50px;
  background-color: rgb(243, 253, 255);
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.kassieSip {
  box-shadow: 1px 5px 5px;
}

.myBanner {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.workImg {
  border-radius: 10px;
}
